<% provide(:title, "Home") %>
<!DOCTYPE>
<html lang="en">
  <head>
    <title>
      <%= yield(:title) %>
    </title>
  </head>
  <body>
    <div class="text-center jumbotron">
      <h1>Tu Sistema de Gestion en la Nube</h1>
      <%= link_to "Ingresar", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>

