<p>
  Hola <%= @user.first_name %>,
</p>

<p>
¿Olvidaste tu contraseña de <strong>SG Cloud</strong>? Si es así,
  <%= link_to "has click acá para reestablecerla",
  edit_password_reset_url(@user.reset_token, email: @user.email) %>,
  El enlace es valido por 2 horas.
</p>

<p>
  Si no has realizado esta solicitud, ignora este mensaje.
</p>

<p>
  Que tengas un muy buen día.
</p>

<p>
  <strong>Equipo de soporte <br>
  sgcloud.co</strong>
</p>
