<footer class="footer">
  <small>
    <strong>SG Cloud</strong> Tu Sistema de Gestion en la Nube.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",  root_path %></li>
    </ul>
  </nav>
</footer>
